/* yep0fD9pqfECmfH8wYmpqek */
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<button id="SignIn" onclick="signIn()">Sign In</button>
<h4 id="WelcomeMessage"></h4>
<p>Please <a href="<%= returnVal %>">sign in</a> with your Office 365 or Outlook.com account.</p>


